<mat-card *ngFor="let product of products" class="product-card">
  <mat-card-header>
    <mat-card-title-group>
      <img mat-card-image [src]="product.thumbnail" alt="Product Thumbnail" />
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>Description: {{ product.description }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div class="product-details">
      <p><strong>Price:</strong> {{ product.price }}</p>
      <p><strong>Discount %:</strong> {{ product.discountPercentage }}</p>
      <p><strong>Rating:</strong> {{ product.rating }}</p>
      <p><strong>Stock:</strong> {{ product.stock }}</p>
      <p><strong>Brand:</strong> {{ product.brand }}</p>
      <p><strong>Category:</strong> {{ product.category }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">BUY</button>
    <button mat-button color="warn">RATE</button>
  </mat-card-actions>
</mat-card>
