.product-card {
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 10px;
}

.product-details p {
  margin: 5px 0;
}

mat-card-title,
mat-card-subtitle {
  font-size: 16px;
}

.mat-card-image {
  max-height: 300px; /* Adjust the maximum height of the image */
  object-fit: contain;
}
